:root {
    --primary-font: 'Bitter', serif;
    --flavor-font: 'Handjet', cursive;
    --primary-color: rgb(0, 0, 0);
    /* --secondary-color: rgb(153, 28, 28); */
    --secondary-color: rgb(255, 96, 96);
}

body {
    height: 100%;
}

.background {
    height: 100vh;
    background-image: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../images/Bubbles_Edit.jpg);
    background-size: cover;
}

.new {
    height: 100vh;
    background-image: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56)), url(../images/Piranhas.jpg) !important;
    background-size: cover;
}

h1 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    font-style: italic;
}

.quiz-taker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.btn {
    /* border: none; */
    width: auto;
    background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56));
    background-color: var(--secondary-color);
    border-radius: 125px;
    box-shadow: 10px 5px 5px rgb(88, 88, 88);
    color: rgb(17, 17, 17);
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    margin: 16px 16px 16px 20px;
    padding: 14px 38px;
    text-align: center;
    cursor: pointer;
}

.txt1 {
    /* border: none; */
    width: auto;
    background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56));
    background-color: blue;
    border-radius: 125px;
    box-shadow: 5px 2.5px 2.5px rgb(88, 88, 88);
    color: rgb(160, 160, 160);
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin: 8px 8px 8px 10px;
    padding: 7px 19px;
    text-align: center;
    cursor: pointer;
}

.txt2 {
    /* border: none; */
    width: auto;
    background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56));
    background-color: yellow;
    border-radius: 125px;
    box-shadow: 5px 2.5px 2.5px rgb(88, 88, 88);
    color: rgb(46, 46, 46);
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin: 8px 8px 8px 10px;
    padding: 7px 19px;
    text-align: center;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#quizTimer {
    background-color: black;
    border-radius: 125px;
    width: 100px;
    height: 50px;
    top: 40%;
    left: 46%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(25, 0, 255, 0), rgb(25, 19, 56));
    background-color: navy;
}

.quizTimerText {
    color: cyan;
    font-weight: bolder;
    padding: 2px;
}

.quizTimerOkay {
    color: lime;
    font-weight: bolder;
}

.quizTimerWarning {
    color: yellow;
    font-weight: bolder;
}

.quizTimerDanger {
    color: red;
    font-weight: bolder;
}

.playerScore {
    font-size: x-large;
    font-weight: bolder;
}